body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6364b8;
}

header {
    background: #3d27bd;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #463391;
    color: #ffffff;
    position: fixed;
    width: 100%;
    bottom: 0;
}