.flotante {
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 1%;
    position: fixed;
    background-color: white;
    height: 3vw;
    width: 98%;
    text-align: center;
    font-size: 1.5vw;
    border: 1px solid blueviolet;
    justify-content: space-between;
    z-index: 1000;   
}

.enlaces {
    display: flex;
    padding: 4%;
    text-align: center;
    justify-content: space-around;
}

.enlaces a {
    font-size:3dvw;
    color: white;
    border-color: black;
    text-shadow: 
        3px 3px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
    text-decoration: none;
}

.space{
    width: 100%;
    height: 5vw;
    background: linear-gradient(90deg, rgba(222, 42, 121, 1) 0%, rgba(65, 112, 153, 1) 47%, rgba(0, 174, 195, 1) 100%);
}

.fondo {
    background-image: url('./Img/Logo.jpg');
    border: 1px solid blueviolet;
    width: 100%; 
    height: 25vw;
    background-size: cover;
    background-position: center;
    text-transform: capitalize;
    align-items: center;
}

.cuerpo{
    width: 100%;
    height: 160vw;
    display: flex;
    flex-wrap: wrap;
    margin: 1%;
}

.subCont {
    display: flex;
    justify-content: space-around;
    font-size: 1.3vw;
    width: 95%;
    height: 20%;
    margin: 1%;
}

.contTexto{
    display: flex;
    width: 98%;
    height: 100%;
    border-radius: 10%;
    margin: 1%;
    padding: 1%;
    flex-wrap: wrap;
    align-items:flex-start;
    text-align:justify;
    padding: 2%;
}

.conexiones{
    background-image: url('./Img/conexiones.jfif');
    background-size:cover;
}

.quienesSomos{
    background-image: url('Img/quienesSomos.jfif');
    background-size:cover;
}

.objetivos{
    background-image: url('./Img/Objetivo.png');
    background-size:cover;
}

.calificacion{
    background-image: url('./Img/calificacion.jfif');
    background-size: cover;
}

/*------ capacitacion.html ------- */
.contTexto1{
    display: flex;
    width: 98%;
    height: 80%;
    border-radius: 10%;
    margin: 1%;
    padding: 1%;
    flex-wrap: wrap;
    align-items:center;
    text-align:justify;
    padding: 2%;
}

.subCont1 {
    display: flex;
    justify-content: space-around;
    font-size: 1.3vw;
    width: 95%;
    height: 20%;
    margin: 1%;
}

.cursos{
    display: flex;
    align-content: center;
    width: 100%;
    height: 3vw;
    font-size: 3vw;
    text-align: center;
}

.escuelaOficios{
    background-image: url('./Img/Escuela.jfif');
    background-size: cover;
}

.carpintero{
    background-image: url('./Img/Carpintera.jfif');
    background-size: cover;
}

.albanil{
    background-image: url('./Img/Albanil.jfif');
    background-size: cover;
}

.herrero{
    background-image: url('./Img/Herrero.jfif');
    background-size: cover;
}

.pintor{
    background-image: url('./Img/Pintor.jfif');
    background-size: cover;
}

/*---------- inicia Footer--------------------*/

.Pie{
    width: 100%;
    height: 10vw;
    background: linear-gradient(90deg, rgba(222, 42, 121, 1) 0%, rgba(65, 112, 153, 1) 47%, rgba(0, 174, 195, 1) 100%);
}

footer {
    background-color: #007BFF;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content h2 {
    margin: 10px 0;
}

.footer-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-content ul li {
    display: inline;
    margin: 0 15px;
}

.footer-content ul li a {
    color: rgb(237, 242, 248);
    text-decoration: none;
}

.footer-content ul li a:hover {
    text-decoration: underline;
}
